
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300;1,400;1,500;1,600&display=swap');
    *{
        margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins" sans-serif;
    }

body{
    
    min-height: 100vh;
    background: linear-gradient(45deg,#69275c,#ff00c8);
    text-transform: uppercase;

}

.header{
    position: 0;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    
}
.logo{
    font-size: 32px;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    text-shadow: 2px 2px #F1AEF0;
    font-family: 'poppins';
}
.navbar{
    position: relative;
    background: #fff;
    padding: 20px 15px;
    border-radius: 50px;
    box-shadow: 0 1px 10px #00000093;
}
.navbar a{
position: relative;
font-size: 18px;
color: #69275c;
font-weight: 500;
text-decoration: none;
margin-left: 40px;
text-shadow: 2px 2px #F1AEF0;
font-family: 'poppins';


}
.navbar a::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #69275c;
    transition: .3s;
    


}
.navbar a:hover::before{
    width: 100%;
}


.contact-form{
    position: relative;
    min-height: 100vh;
    z-index: 0;
    background: linear-gradient(45deg,#69275c,#ff00c8) ;
    padding: 30px;
    justify-content: center;
    display: grid;
    grid-template-rows: 1fr auto 1fr;
    align-items: center;

}
.container{
    max-width: 700px;
    margin-top: 0 auto;
}
.contact-form h1{
    text-align: center;
    font-size: 2.5rem;
    font-weight: 400;
    color: #fff;
    font-family: 'poppins';

}
.contact-form h2{
    line-height: 40px;
    margin-bottom: 5px;
    font-size: 30px;
    font-weight: 500;
    color: #69275c;
    text-align: center;
}
.contact-form .main{
    position: relative;
    display: flex;
    margin: 30px 0;

}
.content{
    flex-basis: 50%;
    padding: 3em 3em;
    background: #fff;
    box-shadow: 2px 9px 49px -17px rgba(0, 0, 0, 0.1);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.form-img{
    flex-basis: 50%;
    background: #f0f4f8;
    background-size: cover;
    padding: 40px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    align-items: center;
    display: grid;

}
.form-img img{
    max-width: 100%;

}
.btne,
button,
input{
     border-radius: 35px;
}
.btne:hover,
button:hover{
    color: #c06ec4; 
    transition: 0.5s ease;

}
.contact-form form {
    margin: 30px 0;

}
.contact-form input,
textarea{
    outline: none;
    margin-bottom: 15px;
    font-stretch: 15px;
    color: #999;
    padding: 14px 20px;
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    border: none;
    background: #fcfcfc;
    transition: 0.3s ease ;

}
.contact-form input:focus{
    background: transparent;
    border: 1px solid #69275c;
}
.contact-form button{
    font-size: 18px ;
    color: #fff;
    width: 100%;
    background: #69275c;
    font-weight: 600;
    transition: 0.3 ease;
    padding: 14px 15px ;
}
footer{
    background-color: #111;
  
    

}
.footetrContainer{
 width: 100%;
 padding: 70px 30px 20px ;
 

}
.socialIcon{
    display: flex;
    justify-content: center;
}
.socialIcon a{
   text-decoration: none;
   padding: 10px;
   background-color: #fff;
   margin: 10px ;
   border-radius: 50%;
}
.socialIcon a i{
    font-size: 2em;
    color: black;
    opacity: 0.9;

}
.socialIcon a:hover{
    background-color: black;
    transition: 0.5s;

}
.socialIcon a i:hover{
    color: white;
    transition: 0.5s;
}
.footerBottom{
    background-color: #000;
    padding: 20px;
    text-align: center;
}
.footerBottom p{
    color: white;
}
.designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}
.detal{
    margin-left: 8%;
    margin-top: 15%;
}
.detal h1{
    font-size: 50px;
    color: #fff;
    margin-bottom: 20px;

}
.detal span{
    position: relative;
}
.detal span::before{
    content: "NADA ";
   color: pink; 
   animation: words 20s infinite  ;
}
.detal span::after{
    content: "";
    position: absolute;
    width: calc(100% + 8px);
    height: 50px;
    background:linear-gradient(45deg,#69275c,#ff00c8) ;
    border-left: 2px solid pink;
    right: -8px;
    animation: cursor .8s infinite, typing 20s steps(14) infinite;
}
@keyframes cursor{
    to{
        border-left: 2px solid #69275c;
    }

}
@keyframes words{
    0%,20%{
        content: "NADA  ";
        
    }
    21%,40%{
        content: "DAADI  ";
    }
}
@keyframes typing{
    10%, 15%, 30%, 50%, 55%, 70%, 75%, 90%,95%{
        width: 0;
    }
    5%, 20%, 25%, 40%,45%, 60%, 65%, 80%, 85%{
        width: calc(100% +8px);
    }
}
.detal p{
    color: antiquewhite;
    line-height: 22px;
    

}
.detal a{
    background:#212121 ;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;

}
.images{
    width: 45%;
    height: 50%;
    position: absolute;
    bottom: 0;
    justify-content: center;
    right: 100px;
    margin-bottom: 200px;
   
    
    
}
.images img{

    height: 100%;
    position:absolute;
    left: 50%;
    bottom: 0;

    border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 200px;
   
}
.skill h1{
    text-align: center;

}
h3{
    margin: 5px;

}
.skill{
    width: 500px;
    margin: 60px auto;
    margin-left: 8%;
    margin-top: 10%;
    color: #fff;
    padding: 20px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22) ;
}
.skill li{
    margin: 20px 0;
    padding: 10px;
    list-style: none;
}
.bar{
    background: #353b48;
    display: block;
    height: 20px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.bar:hover
{
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22) ;
}
.bar span {
    height: 28px;
   float: left;
   background: linear-gradient(135deg, rgba(236, 0, 140, 1)0%,rgba(252,103,103,1)100%);
}

.html{
    width: 90%;
    animation: html 3s;
}
.Css{
    width: 40%;
    animation: Css 3s;
}
.C{
    width: 50%;
    animation: C 3s;
}
.TIA-PORTAL{
    width: 90%;
    animation: TIA-PORTAL 3s;
    
}
@keyframes html{
    0%{
        width: 0%;
    }
    100%{
        width: 90%;
    }
}
@keyframes Css{
    0%{
        width: 0%;
    }
    100%{
        width: 40%;
    }
}
@keyframes C{
    0%{
        width: 0%;
    }
    100%{
        width: 50%;
    }
}
@keyframes TIA-PORTAL{
    0%{
        width: 0%;
    }
    100%{
        width: 90%;
    }
}